@font-face {
    font-family: 'Inter';
    src: url("/src/fonts/Inter-Regular.ttf");
}

.blockUlCatalog{
    margin-top: 75px;
    
}

.linkLocation {
    display: flex;
    width: 1140px;
    margin: 0 auto;
   
    :nth-child(n) {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: #959AAE;
        &:hover {
            color: #576077;
        }
        ::after{
            content: ">";
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    :last-child{
        ::after{
            content: "";
        }
    }
    a {
        display: block;
    }
}

.h3CatalogBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanCatalogFilter{
    margin-bottom: 25px;
   border: none;
    
}
