*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.wrap {
    display: flex;
    width: 100vw;
    position: relative;
    justify-content: space-between
}
.choice-main {
    display: flex;
    width: 12%;
    height: 100vh; 
    background: rgb(111, 102, 102);
    flex-direction: column;
    z-index: 100;
}
.choice-details {
    display: flex;
    width: 15%;
    height: 100vh;
    background: rgb(111, 102, 102);
    flex-direction: column;
    opacity: 0;
    position: absolute;

}
.result{
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.result-dino {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(234, 225, 225);
    width: 750px;
    height: 600px;
    border: 1px solid  rgb(32, 32, 32);
    font-size: 32px;
    position: relative;
}

.btn{
    height:100px;
    border: 1px solid rgb(242, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.img-btn{
    height: 90%;
}

.result-dino .img-btn{
    width: 90%;
}
.not-border {
    border: none;
}


.click-dino {
    position: static;
    opacity: 1;
    transition: opacity 1s ;
}

.hidden{
    display: none;
}

.active {
    display: block ;
}

.img-active{
    width: 80%;
}

.result-dino .little-elem{
    position: absolute;
    width: 15px;
    height: auto;
}

.click {
    border-right: rgb(111, 102, 102);
}
.result-dino .dino1 {
    height: 450px; 
}
.result-dino .dino2 {
    height: 450px; 
}
.result-dino .dino3 {
    height: 450px; 
}
.result-dino .dino4 {
    height: 450px; 
}

.result-dino .dino5 {
    height: 450px; 
}
.result-dino .dino6 {
    height: 450px; 
}

.eyes1 , .eyes2, .eyes3, .eyes4 {
    top:85px;
    left: 55px;
}

.result-dino .head1 {
    top: 45px;
    left:40px; 
    width: 80px;
}
.result-dino .head2 {
    top:45px;
    left:35px; 
    width: 80px;
}

.result-dino .head3 {
    top: 15px;
    left:35px; 
    width: 80px;
}

.result-dino .mouth1 {
    top: 110px;
    left:37px; 
    width: 20px;
}
.result-dino .mouth2 {
    top: 110px;
    left:37px; 
    width: 20px;
}
.result-dino .mouth3 {
    top: 110px;
    left:35px; 
    width: 16px;
}

.result-dino .spots1 {
    top: 103px;
    left: 102px ;
    width: 595px;
    height: 358px;
}

.result-dino .spots2 {
    top: 145px;
    left: 115px ;
    width: 560px;
    height: 370px;
}

.result-dino .spots3 {
    top: 133px;
    left: 112px ;
    width: 599px;
    height: 385px;
}
.result-dino .spots4 {
    top: 220px;
    left: 170px ;
    width: 471px;
    height: 285px;
}

.result-dino .scale1 {
    width: 600px;
    height: 380px;
    left: 100px ;
    top: 80px;
}
.result-dino .scale2 {
    width: 590px;
    height: 380px;
    left: 110px ;
    top: 80px;
}

.result-dino .scale3 {
    width: 590px;
    height: 380px;
    left: 110px ;
    top: 83px;
}