*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.wrap {
    display: flex;
    width: 100vw;
    position: relative;
    justify-content: space-between
}
.choice-main {
    display: flex;
    width: 12%;
    height: 100vh; 
    background: rgb(111, 102, 102);
    flex-direction: column;
    z-index: 100;
}
.choice-details {
    display: flex;
    width: 15%;
    height: 100vh;
    background: rgb(111, 102, 102);
    flex-direction: column;
    opacity: 0;
    position: absolute;

}
.result{
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.result-dino {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(234, 225, 225);
    width: 87%;
    height: 87%;
    border: 1px solid  rgb(32, 32, 32);
    font-size: 32px;
    position: relative;
}

.btn{
    height:100px;
    border: 1px solid rgb(242, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.img-btn{
    height: 90%;
}

.result-dino .img-btn{
    width: 90%;
}
.not-border {
    border: none;
}


.click-dino {
    position: static;
    opacity: 1;
    transition: opacity 1s ;
}

.hidden{
    display: none;
}

.active {
    display: block ;
}

.img-active{
    width: 80%;
}

.result-dino .little-elem{
    position: absolute;
    width: 15px;
    height: auto;
}

.click {
    border-right: rgb(111, 102, 102);
}

.eyes1 , .eyes2, .eyes3, .eyes4 {
    top:7%;
    left: 8%;
}

.result-dino .head1 {
    top: 1%;
    left: 5%; 
    width: 80px;
}
.result-dino .head2 {
    top:0.5%;
    left: 5%; 
    width: 80px;
}

.result-dino .head3 {
    top:-5%;
    left: 5%; 
    width: 80px;
}

.result-dino .mouth1 {
    top: 13%;
    left: 5%; 
    width: 3%;
}
.result-dino .mouth2 {
    top: 13%;
    left: 5%; 
    width: 3%;
}
.result-dino .mouth3 {
    top: 12%;
    left: 5%; 
    width: 2%;
}

.result-dino .spots1 {
    top: 15%;
    left: 14%; 
    width: 78%;
}