@font-face {
    font-family: 'Inter';
    src: url("/src/fonts/Inter-Bold.ttf");
}
@font-face {
    font-family: 'Inter';
    src: url("/src/fonts/Inter-Regular.ttf");
}
.main {
    margin-top: 14px;
}

.wrapSlader{
    background-image: url('/src/img/fon.png');
    background-size: 100% 100%;
    height: 641px;
    position: relative;
    margin-bottom: 98px;
    .blockPoint {
        display: flex;
        justify-content: center;
        .point{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            border: none;
            background: #CED2DA;
            margin: 16px;
            margin-bottom: 30px;
        }
        .active{
            background: #2B3350;
        }
    }
   .slader{
    width: 1140px;
    margin: 0 auto;
    position: relative;
   }
   .armchair{
    position: absolute;
    left: 50%;
   }
   .armchair_two {
    position: absolute;
    left: 75%;
    top: 10%;
   }
   .buttonSliderOne , .buttonSliderTwo{
    position: absolute;
    left: 1%;
    top: 40%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background:white;
    color: #576077;
    box-shadow: 0px 4px 4px 0px #3e3e3e40;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background: #CED2DA;
        transition: 0.5s;
    }
   }
   .buttonSliderTwo {
    left: 96%;
    top: 40%;
    color: #576077;
   }
    .blockTextSlader{
        height: 580px;
        padding-top:116px ;
        width: 611px;
        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: 54px;
            line-height: 120%;
            color: #2B3350;
            letter-spacing: -0.03em;
            margin-bottom: 21px;
        }
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 160%;
            color: #2B3350;
            margin-bottom: 32px;
        }
        .btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 26px 38px 29px;
            gap: 10px;
            width: 297px;
            height: 78px;
            background: #0074D4;
            box-shadow: 0px 12.9632px 15.375px rgba(0, 116, 212, 0.241), 0px 5.38427px 6.38599px rgba(0, 116, 212, 0.15), 0px 1.94738px 2.30969px rgba(0, 116, 212, 0.059);
            border-radius: 8px;
            border: none;
            color: white;
            &:hover {
                background: #37A5FF;
                transition: 0.5s;
            }
            
        }
      
    }
}